html {
    box-sizing: border-box;
    font-family: Poppins, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
*, *::after, *::before {
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Sección inicio */

body {
   margin: 0;
   overflow-x: hidden;
}

#inicio {
    background-image: url("../img/inicio.jpg");
    background-repeat: no-repeat;
    height: 1200px;
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
   display: flex;
   vertical-align: middle;
   width: 100%;
   font-size: 24px;
   margin: 0;
   justify-content: center;
}

#navegador ul {
   display: flex;
   align-items: center;
   list-style-type: none;
   text-align: center;
   margin-block-start: 20px;
   height: 80px;
}

 #navegador li {
    display: inline-block;
    text-align: center;
    margin: 0px 40px 0px 0px;
    font-weight: 500;
}
 
 #navegador li a {
    padding: 2px 7px 2px 7px;
    color: #000000;
    text-decoration: none;
    position: relative;
}

 #navegador li a:hover {
    color:#525252
}

 .logo {
   position: absolute;
    width: 10%;
    margin: 20px 0 0 20px;
}

 .logo img {
    width: 100%;
    max-width: 100%;
}

 h1, h4 {
    margin: 20px 0px 20px 40px;
 }

 h1 {
   color: white;
   font-family: Helvetica, sans-serif;
   font-size: 80px;
   text-decoration: underline;
   width: 600px;
   font-weight: 350;
}



/* Primera sección */

.conciencia-h4,
.alternativa-h4 {
   color:black;
}

.alternativa-h4 {
   margin: 20px 0px 20px 5px;
}

h4 {
   color:#ffffff;
    font-size: 35px;
    width: 300px;
    font-weight: 200;
    line-height: 32px;
}

.cruz {
    position: absolute;
    width: 60px;
    bottom: 40px;
    right: 40px;
}

.cruz img {
    width: 100%;
 }

.derecha {
    right: 40px;

}

.izquierda {
   left: 40px;
}

.arriba {
   top: 40px;
}

.abajo {
    bottom: 40px;
}

p {
    width: 600px;
    bottom: 40px;
    right: 40px;
}

.texto-conciencia {
   text-align: right;
}
 .seccion_1 {
    position: relative;
    background-color: #D0D700;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right; 
    padding: 0 20px;
}


h2 {
    font-family: Helvetica, sans-serif;
    font-size: 80px;
    text-decoration: underline;
    width: 600px;
    font-weight: 350;
    margin: 0px;
}



.seccion_1>h2,
.seccion_1>h4 {
   text-align: end;
}

/* Segunda sección */

 .seccion_2 {
    background-color: #FFE65F;
    height: 600px;
    position: relative;
    text-align: left; 
    padding: 0 20px;
 }
 .titular_big {
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 140px;
    width: 350px;
    word-break: break-all;
    line-height: 110px;
    margin: 50px 30px 0px 50px;
    z-index: 1;
    padding: 20px 0 0 -10px ;
}

/* Sección actividades */

.chapa {
   position: relative;
   z-index: -1;
   display: inline-block;
   bottom: 350px;
   left: 300px;
}

.imagen-playa,
.imagen-chica {
   width: 40%;
}

.actividad-flex {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: stretch;
   align-content: stretch;
   padding: 0px 0 100px 0;
}
 
 .flex-items:nth-child(1) {
   display: block;
   flex-grow: 0;
   flex-shrink: 1;
   flex-basis: auto;
   align-self: auto;
   order: 0;
   
 }
 
 .flex-items:nth-child(2) {
   display: block;
   flex-grow: 0;
   flex-shrink: 1;
   flex-basis: auto;
   align-self: auto;
   order: 0;
   padding: 0 0 0 20px;
 }

 h3 {
   margin-block-start: 0;
    margin-block-end: 0;
    text-decoration: underline;
    font-size: 54px;
    width: 380px;
    font-weight: 200;
    line-height: 60px;
    font-family: Helvetica, sans-serif;
}

/* Sección saber más */

.saber_mas {
    background-color: #D0D700;
    height: 950px;
}

#saber-mas {
   width: 300px;
   padding: 40px;
}

/* Formulario */

.formcontacto {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: flex-end;
   align-content: flex-start;
   margin: 40px;
   width: 925px;
}

.formcontacto input {
   margin-bottom: 20px;
}
.flex-items:nth-child(1) {
   display: block;
   flex-grow: 0;
   flex-shrink: 1;
   flex-basis: auto;
   align-self: auto;
   order: 0;
 }
 
 .flex-items:nth-child(2) {
   display: block;
   flex-grow: 0;
   flex-shrink: 1;
   flex-basis: auto;
   align-self: auto;
   order: 0;
 }
 
 .flex-items:nth-child(3) {
   display: block;
   flex-grow: 0;
   flex-shrink: 1;
   flex-basis: auto;
   align-self: auto;
   order: 0;
 }
 
 .flex-items:nth-child(4) {
   display: block;
   flex-grow: 0;
   flex-shrink: 1;
   flex-basis: auto;
   align-self: auto;
   order: 0;
 }

 #nombre,
 #apellidos,
 #email{

   font-family: Roboto, sans-serif;
   font-weight: 0;
   font-size: 36px;
   color: #000000;
   padding: 20px 0;
   background-color: #ffffff;
   padding: 10px 30px;
   border: none;
   box-shadow: none;
   border-radius: 20px;
   transition : 0ms;
   display: flex;
   flex-direction: row;
   align-items: center;
   cursor:auto;
}

.boton-enviar {
    color:transparent;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.boton-enviar img {
   width: 100px; 
   height: 85px; 
}

.boton-enviar img:hover {
   background-image: url('img/flecha_derecha_enviar.png');
}

.datos-texto {
   width: 500px;
   margin: 50px 0 40px 0;
   font-size: 24px;
}

.politica-privacidad {
   text-align: center; 
   line-height: 40px; 
}
.texto-politica {
   display: inline-block; 
   margin: 0;
   vertical-align: middle; /
}

#privacidad {
   display: inline-block;
    position: relative;
    left: 80px;
}
.texto-politica a {
   color: black; 
}

/* Footer */

.pie-pagina {
    background-color: black;
}


#navegador-footer ul {
   display: flex;
   align-items: center;
   list-style-type: none;
   text-align: center;
   margin-block-start: 20px;
   height: 80px;
}

 #navegador-footer li {
   display: inline-block;
   text-align: center;
   margin: 0px 40px 0px 0px;
   font-weight: 500;
 }
 
 #navegador-footer li a {
    padding: 2px 7px 2px 7px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    font-size: 16px;
 }

 #navegador-footer li a:hover {
    color:#525252
 }

 .logo-footer {
   position: absolute;
    width: 10%;
    margin: 20px 0 0 20px;
}

 .logo-footer img {
    width: 100%;
    max-width: 100%;
 }

.flecha-arriba {
 width: 45px;
 height: 54px;
}

footer .flecha-arriba {
   position: relative;
   left: 1200px;
   bottom: 105px;
}
